.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
.first{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: url(/assets/Hero-bg.png);
    padding-top: 45px;
    padding-bottom: 45px;
    gap: 32px;
}
.big-title{
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    color: #0D1321;
}
.text-gen{
    font-size: 16px;
    font-weight: 400;
    color: rgba(13, 19, 33, 70%);
}
.btn{
    background-color: #0D1321;
    padding: 21px 24px;
    color: white;
    border-radius: 10px;
    font-size: 20px;
}
.second{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 80px;
    background-color: rgba(13, 19, 33, 2%);
    margin: 75px 150px;
    border-radius: 15px;
    gap: 48px;
}
.second-intro{
    padding: 0 47px 0 47px;
    text-align: center;
}
.second-head{
    font-size: 32px;
    color: #0D1321;
    margin-bottom: 24px;
}
.box-head{
    font-size: 32px;
    font-weight: 800;
}
.box{
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    display: flex;
    border-radius: 15px;
    justify-content: space-between;
    gap: 150px;
    padding: 48px;
}
.inside-box{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;  
    margin-right: 100px;
}
.box-head{
    font-size: 24px;
    font-weight: bold;
    color: rgba(13, 19, 33, 70%);
}
.btn-gen{
    background-color: white;
    font-size: 20;
    font-weight: 600;
    padding: 10px 20px;
    color: rgba(13, 19, 33, 70%);
    border-color: rgba(13, 19, 33, 70%);
}
.video{
    width: 900px; 
    height: 500px; 
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}
.target{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 80px;
    margin: 75px 150px;
    border-radius: 15px;
    gap: 48px;
}
.skill-box{
    display: flex;
    gap: 26px;
    margin-top: 48px;
}
.skills{
    padding: 40px;
    border-radius: 15px;
}
.learn{
    color: black;
    margin-top: 20px;
}
.outro{
    padding: 80px;
    background-image: url(/assets/handshake.jpg);
    
    margin: 75px 150px;
    border-radius: 15px;
}
.outro-head{
    font-size: 32px;
    color: white;
    margin-bottom: 24px;
    text-align: center;
}
.text-outro{
    font-size: 16px;
    font-weight: 400;
    color: white;
    text-align: center;
}